
  .main-sprite {
    height: 100vh;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;

    @media(max-width: 768px) {
      height: 55rem;
    }

    h1 {
      font-size: 4rem;
      margin: 2rem 0;

      @media(max-width: 768px) {
        font-size: 2.8rem;
      }

    }

    .sprite-container {
      z-index: 1;
      height: 95%;
      width: 95%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 0 1em #333;
      animation: 3s infinite cloud linear;


      .sprite-form {
        box-shadow: 0 0 .7em #ccc;
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: .03em .03em #090e11;
        font-size: 1.2rem;
        padding: .5rem;


        fieldset {
          border: 1.6rem solid rgba(51, 82, 102, .1);
          box-shadow: 0 0 .3em #223644;
          background: hsla(0,0%,100%,.3);
          width: 100%;
          height: 100%;
          line-height: 1.9rem;
          padding: 1rem;

          legend {
            opacity: .7;
            background-color: rgba(51, 82, 102, .1);
            line-height: 1.7rem;


          }

          label {
            letter-spacing: .1rem;
          }
          .weather {
            padding: .2em .5em;
            background-color: #3385ff;
            border: 1px solid rgba(0,0,0,.1);
            box-shadow: .10em .10em .45em rgba(62, 62, 40, .7);
            color: #fff;
            font-family: 'Fredericka the Great', cursive;


          }
          #show-name, #show-age {
            background-color: #3385ff;
          }
        }

        @media(max-width: 768px) {
          width: 90%;
          font-size: .8rem;
        }


      }
      .speech-bubble {
        padding: 3rem;
        text-align: center;
        visibility: hidden;
        background-image: url(../images/speech-bubble.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 7rem;
        width: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;;
        top: 30%;
        right: 10%;
        font-size: .8rem;
        border-radius: 50%;

        @media(max-width: 768px) {
          top: 45%;
          right: 0;
        }
      }

      .sprite {
        box-shadow: 0 0 .7em #ccc;
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0;

        @media(max-width: 768px) {
          width: 90%;
        }


        #stop {
          visibility: hidden;
          background-color: #b32400;
        }
        #go {
          visibility: hidden;
          background-color: #3385ff;
        }


        .capguy {
          width: 180px;
          height: 325px;
          background-image: url(../images/capguy.png);

        }






      }

      @media(max-width: 768px) {
        flex-direction: column;
      }
    }

  }

  .btns {
    padding: .3em .5em;
    background: #fff linear-graient(hsla(0,0%,100%,.2), transparent);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .2em;
    box-shadow: .10em .10em .45em rgba(62, 62, 40, .9);
    cursor: pointer;
    color: #fff;
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: .1rem;

    &:hover {
      text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
    }
    &:active {
      box-shadow: 0 .05em .25em rgba(62, 62, 40, .5);

    }

  }

.weather-object {
  height: 15rem;
  width: 15rem;
  position: absolute;
  right: 5%;
  top: 5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media(max-width: 768px) {
    width: 10rem;
    height: 10rem;
    opacity: .5;
    right: 10%;

  }
}
.raindrop {
  position: absolute;
  z-index: 2;
  height: 4rem;
  width: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.raindrop1 {
  right: 4%;
  animation: 3s infinite raindrop linear;
  @media(max-width: 425px) {
    right: 7%;
  }
}
.raindrop2 {
  right: 10%;
  animation: 5s infinite raindrop linear;
  @media(max-width: 425px) {
    right: 17%;
  }
}
.raindrop3 {
  right: 12%;
  animation: 2s infinite raindrop linear;
  @media(max-width: 425px) {
    right: 25%;
  }
}
.raindrop4 {
  right:17%;
  animation: 4s infinite raindrop linear;
  @media(max-width: 425px) {
    right: 40%;
  }
}

@keyframes walk {
  0% {
  background-position-x: 0;
  }
  100% {
  background-position-x: -1472px;
  }

}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes cloud {
  from { background-position: 0 5%; }
  to   { background-position: 200px 5%; }
}

@keyframes raindrop {
  from { top: 25%; }
  to { top: 90vh; }
}

.to-be-continued {
  //TEMPORARY !!!!!!!!!!!!!!!!!!!!!!!!!!
  position: absolute;
  bottom: 10%;
  font-size: 2rem;
  visibility: hidden;
  border-radius: 3px;
  background-color: hsla(0,0%,100%,.3);
  @media(max-width: 425px) {
    bottom: -5%;
    font-size: 1.5rem;
  }
}
